$primaryColor: rgba(13, 26, 45, 255);
$boxColor: rgba(21, 39, 61, 255);

*{
    font-family:Roboto;
}

body{
    background-color:$primaryColor;
}

#square{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background-color:$boxColor;
    width:350px;
    height:fit-content;
    border-radius:20px;
    line-height:25px;
}

#image{
    position:relative;
    width:310px;
    border-radius:10px;
    z-index:1;
}

#overlay {
    position: absolute;
    width: 310px;
    height: 310px;
    border-radius: 10px;
    background-color: rgba(39, 247, 233, 255);
    z-index: 0;
}

#image:hover{
    opacity:0.5;
}

#view{
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

#margin {
    margin: 20px;
}

#name{
    color:white;
    font-weight:400;
    font-size:20px;
}

#name:hover {
    color: rgba(39, 247, 233, 255);
}

#paragraph{
    color:rgba(148, 171, 203, 255);
    font-weight:300;
}

#price{
    display:inline;
    color:rgba(39, 247, 233, 255);
}

#time{
    display:inline;
    color:rgba(136, 173, 217, 255);
}

#timeCont{
    display:inline;
    float:right;
}

#bar{
    border:1px solid rgba(47, 65, 89, 255);
    outline:0;
}

#pfp{
    display:inline;
    border:1px solid white;
    border-radius:50%;
    width:30px;
}

#text {
    color: rgba(148, 171, 203, 255);
    display:inline;
}

#nameDown{
    color:white;
    display:inline;
}

#nameDown:hover {
    color: rgba(39, 247, 233, 255);
}